.modal-title {
    font-weight: 700;
    font-size: 28px;
    font-family: Mulish, Arial, sans-serif;
    line-height: 35.14px;
    letter-spacing: 0.500000006px;
    text-align: left;
    color: #052D8F;
}